body {
  margin-top: 56px;
}

.sider__mask {
  background: linear-gradient(
    203deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(0, 0, 0, 0.868270188235165) 87%
  );
  .bd-placeholder-img {
    min-height: 400px;
    max-height: 500px;
    object-position: top;
  }
}
.homecard__mask {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2727645702576369) 13%,
    rgba(255, 255, 255, 0) 28%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 254, 254, 0) 65%,
    rgba(0, 0, 0, 0.8177083904823561) 87%
  );
}
.homecard__mask:hover {
  background: linear-gradient(
    180deg,
    rgb(255 0 0 / 27%) 13%,
    rgba(255, 255, 255, 0) 28%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 254, 254, 0) 65%,
    rgb(149 4 4 / 82%) 87%
  );
}
.homecard h5 {
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: margin-bottom 0.3s;
}
.homecard:hover h5 {
  margin-bottom: 10px;
}
.fade-in-fwd {
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.bg__red {
  background: #fd0001;
}


